<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Parallel Test Suite" >
  <test name="Paralle Test" thread-count="5" parallel="tests" >
    <classes>
      <class name="testRunner.TestRun"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->